# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 223c72c7ed94450c5ff42d9f6a7700dbc9c8e1a60b0a4bfc96fbe24ce35f4303f5b658a1b9235bf03ba4169b44844bb1bc4aafa20352c71e1fd37e3cf5f5d692

test:
  secret_key_base: 0eee15ff1219686616be898c9b1a21431201b4abd9cc41cdabe20338d74c5c9456e616ad9f98c803837ba154a49be01f79d0b724d37a4e8f99692e1472caae6b

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: b4f689b5b6ce9bfe7bf2e33ead57573381d6eb1f0f018c3bdfdc7b199b6eb1f2e459a1c180b16984ebc93448f6174eaf3fc93afe9f0ec1e2e4802f92f0922caa
